# URL base da API (use em desenvolvimento; deixe vazio para fallback automático)
# Ex.: http://192.168.15.13:3001 ou http://localhost:3001
EXPO_PUBLIC_API_BASE_URL=

# Insira um usuário e senha para realizar o login mockado
EXPO_PUBLIC_SYSADMIN_EMAIL=
EXPO_PUBLIC_SYSADMIN_PASSWORD=